# =========================
# Build Folders
# =========================
bin/
obj/
Debug/
Release/
[Bb]uild/
[Ll]ogs/

# =========================
# User-specific files
# =========================
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# =========================
# IDE / Editor files
# =========================
.vs/
*.vscode/
.history/
.ionide/

# =========================
# Generated / compiled files
# =========================
*.dll
*.exe
*.pdb
*.cache
*.log
*.diff
*.patch
*.tmp

# =========================
# NuGet
# =========================
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
packages/
*.nuspec
*.psmdcp
*.package
.nuget/

# =========================
# Azure / Publish
# =========================
*.azurePubxml
PublishProfiles/
*.pubxml
*.pubxml.user
*.Publish.xml
*.PublishSettings

# =========================
# Database files
# =========================
*.dbmdl
*.bak
*.mdf
*.ldf
*.ndf

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
